form{
  display: flex;
  flex-direction: column;
  margin: 50px;
}

/* Css pour l'affichage des erreurs */

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8em;
  color: #e54858;
  text-align: right;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}