form{
  display: flex;
  flex-direction: column;
  margin: 50px;
}

/* Css pour l'affichage des erreurs */
.formData[data-error-visible="true"] .errorMsg {
  font-size: 0.8em;
  color: #e54858;
  transition: 0.3s;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}