form {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.formData {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Css pour l'affichage des erreurs */
.formData[data-error-visible="true"] .errorMsg {
  font-size: 0.8em;
  color: #e54858;
  transition: 0.3s;
}

label { 
  width: 100px;
}

.text-control {
  width: 200px;
}

.formData.error .text-control {
  border: 2px solid #e54858;
}